@model LyricsIndexVM



<section class="index">
    <div id="divResult">
    </div>
  
    <section class="index_action">
    
        <a class="bubble bubble_primary" id="main_button">Give me more weird, bad and confusing lyrics</a>
    </section>
</section>

@section script
{
    <script>
        window.onload = (event) => {
            getLyrics();
        };

        $("#main_button").click(function () {
            getLyrics();
        });

        function getLyrics() {

            $.ajax({
                url: "/lyrics-box",
                type: "GET",
                success: function(result) {

                    $("#divResult").html(result);

                }
            });

        }

    </script>
}
