@model LyricsToplistVM[]

@*@{ ViewBag.Title = "Say What!?";}*@


<div>
    @foreach (var item in Model)
    {
    <section class="list_item">
        <h3>@item.Artist – @item.Song</h3>
        <p>
            "@item.Lyric1"
        </p>
    </section>
    }
</div>